<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    {% for i in lst %}
        <div class="number"> 
            Число: {{ i }}
        </div>
    {% endfor %}
    -->
    {% if articles %}
        {% for acticle in articles %}
            <div class="article">
                {{ acticle }}
            </div>
        {% endfor%}
    {% else %}
        <h2> Статей на сайте нет!</h2>
    {% endif %}

</body>
</html>